<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>New</th>
      <th>Name</th>
      <th>Email</th>
      <th>Image url</th>
      <th>Admin</th>
      <th>Soundfriend</th>
      <th>Instagram</th>
      <th>Twitter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.new %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.image_url %></td>
        <td><%= user.admin %></td>
        <td><%= user.soundfriend %></td>
        <td><%= user.instagram %></td>
        <td><%= user.twitter %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
