<p id="notice"><%= notice %></p>

<p>
  <strong>New:</strong>
  <%= @user.new %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @user.image_url %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<p>
  <strong>Soundfriend:</strong>
  <%= @user.soundfriend %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @user.instagram %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @user.twitter %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
