<p>
  <strong>Song Name:</strong>
  <%= @song.html_safe %>
</p>

<p>
  <strong>Song:</strong>
  <%= @post.track_url %>
</p>

<p>
  <strong>Add to playlist:</strong>
  <%= form_tag playlists_path do  %>
    <%= hidden_field_tag(:track_id, @track_id) %>
    <%= select_tag("playlist", options_for_select(@playlists.map {|p| [ p.title, p.id ] })) %>
    <%= submit_tag %>
  <% end %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
